# data files and secure config

*.nc
*.csv
*.txt
*.pth
*.png
environment.sh

.ipynb 

#For now, not tracking the jupyter notebooks as well. LATER might change

# temp files
*.log
*.tmp
.paths.yaml

#directories

data/
results/
checkpoints/
Outputs/

.gitignore
