# Ignore data files

*.nc
*.csv
*.txt
.pth
.png

# Ignore temporary files
*.log
*.tmp

# Ignore directories
data/
results/
checkpoints/
/work/FAC/FGSE/IDYST/tbeucler/downscaling/sasthana/Downscaling/Downscaling/Outputs/

.gitignore
